body{
background:#070b14;
color:white;
font-family:Arial,sans-serif;
padding:20px;
}

.logo{
font-size:40px;
color:#00aaff;
}

#search{
width:100%;
padding:15px;
border:none;
border-radius:15px;
background:#111827;
color:white;
margin-bottom:20px;
}

#appContainer{
display:grid;
gap:15px;
}

.app-card{
background:#111827;
padding:15px;
border-radius:20px;
}

.app-card img{
width:80px;
height:80px;
object-fit:contain;
background:white;
padding:10px;
border-radius:15px;
}

.download-btn{
display:inline-block;
margin-top:10px;
padding:10px 15px;
background:#00aaff;
color:white;
text-decoration:none;
border-radius:10px;
}
